{% extends "base/layout.twig.html" %}

{% block content %}

<!-- Wir überschreiben den Content-Block -->
<h1 class="mt-5">Aktuelle Spesenformulare: </h1>
<div>
    <!--Meldung ob ein Formular genehmigt oder abgelehnt wurde -->
    {{ information }}
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <!-- TableHead -->
            <th scope="col">ID</th>
            <th scope="col">Personalnummer</th>
            <th scope="col">Datum</th>
            <th scope="col">Reiseziel</th>
            <th scope="col">Essenskosten</th>
            <th scope="col">Fahrtkosten</th>
            <th scope="col">KMAnzahl</th>
            <th scope="col">Uebernachtung</th>
            <th scope="col">Verkehrsmittel</th>
            <th scope="col">Unterschrift</th>
            <th scope="col">Unterschreiben</th>
        </tr>
    </thead>

    <tbody>
        <!-- TableData -->
        {% for datarow in data %}
        <tr>
            <th scope="row">{{ datarow.ID }}</th>
            <td>{{ datarow.Datum }}</td>
            <td>{{ datarow.Personalnummer }}</td>
            <td>{{ datarow.Reiseziel }}</td>
            <td>{{ datarow.Essenskosten }}</td>
            <td>{{ datarow.Fahrtkosten }}</td>
            <td>{{ datarow.KM_Anzahl }}</td>
            <td>{{ datarow.Uebernachtung }}</td>
            <td>{{ datarow.Verkehrsmittel }}</td>
            <td>{{ datarow.Unterschrift }}</td>
            <!-- Link zu einzelnem Formular zum untershreiben -->
            <td><a href="/VorgesetzterController/unterschreiben/{{ datarow.ID }}">Unterschreiben</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}