{% extends "base/layout.twig.html" %}

{% block content %}

<!-- ReadOnly Form zum Unterschreiben des Vorgesetzten -->
<form method="POST">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Personalnummer</label>
    <div class="col-sm-10">
      <div readonly class="form-control-plaintext">{{ data.Personalnummer }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Datum</label>
    <div class="col-sm-10">
      <div readonly class="form-control-plaintext">{{ data.Datum }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Reiseziel</label>
    <div class="col-sm-10">
      <div readonly class="form-control-plaintext">{{ data.Reiseziel }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Essenskosten</label>
    <div class="col-sm-10">
      <div readonly class="form-control-plaintext">{{ data.Essenskosten }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Fahrtkosten</label>
    <div class="col-sm-10">
      <div readonly class="form-control-plaintext">{{ data.Fahrtkosten }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Kilometer Anzahl</label>
    <div class="col-sm-10">
      <div readonly class="form-control-plaintext">{{ data.KM_Anzahl }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Übernachtungs Kosten</label>
    <div class="col-sm-10">
      <div readonly class="form-control-plaintext">{{ data.Uebernachtung }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Verkehrsmittel</label>
    <div class="col-sm-10">
      <div readonly class="form-control-plaintext">{{ data.Verkehrsmittel }}</div>
    </div>
  </div>

  <!-- Genehmigen oder Ablehnen Button -->
  <div class="row">
    <input type="submit" name="submit" value="Genehmigen" class="col btn btn-success form-control">
    <input type="submit" name="submit" value="Ablehnen" class=" col btn btn-danger form-control">
  </div>
</form>


{% endblock %}