{% extends "base/layout.twig.html" %}

{% block content %}

<form method="post">
  <div class="form-group">
    <label for="input requiredPersonalnummer">Personalnummer</label>
    {% if data.personalnummer_err is empty %}
    <input required type="text" class="form-control" placeholder="0000" value="{{data.personalnummer}}" name="personalnummer">
    {% else %}
    <input required type="text" value="{{data.personalnummer}}" class="form-control form-control-lg is-invalid" name="personalnummer">
    <span class="invalid-feedback"> {{ data.personalnummer_err }}</span>
    {% endif %}
  </div>


  <div class="form-group">
    <label for="InputDate">Datum</label>
    {% if data.datum_err is empty %}
    <input required type="date" value="{{data.datum}}" class="form-control" placeholder="1900-01-01" name="datum">
    {% else %}
    <input required type="date" value="{{data.datum}}" class="form-control form-control-lg is-invalid" name="datum">
    <span class="invalid-feedback"> {{ data.datum_err }}</span>
    {% endif %}
  </div>


  <div class="form-group">
    <label for="input requiredReiseziel">Reiseziel</label>
    {% if data.reiseziel_err is empty %}
    <input required type="text" class="form-control" value="{{data.reiseziel}}"  name="reiseziel" placeholder="Jowa Volketswil">
    {% else %}
    <input required type="text" value="{{data.reiseziel}}" name="reiseziel" class="form-control form-control-lg is-invalid">
    <span class="invalid-feedback"> {{ data.reiseziel_err }}</span>
    {% endif %}
  </div>


  <div class="form-group">
    <label for="input requiredEssenskosten">Essenskosten</label>
    {% if data.essenskosten_err is empty %}
    <input  min="0" max="50" type="number" value="{{data.essenskosten}}" class="form-control" placeholder="20.00" name="essenskosten">
    {% else %}
    <input  min="0" max="50" type="number" value="{{data.essenskosten}}" class="form-control form-control-lg is-invalid" name="essenskosten">
    <span class="invalid-feedback"> {{ data.essenskosten_err }}</span>
    {% endif %}
  </div>


  <div class="form-group">
    <label for="input requiredVerkehrsmittel">Verkehrsmittel</label>
    {% if data.verkehrsmittel_err is empty %}
    <select onchange="verkehrChange()" id="selectVerkehr"  class="form-control" name="verkehrsmittel">
      {% if data.verkehrsmittel == 'Auto' %}
      <option value="Zug">Zug</option>
      <option selected value="Auto">Auto</option>
      {% else %}
      <option selected value="Zug">Zug</option>
      <option value="Auto">Auto</option>
      {% endif %}
    </select>
    {% else %}
    <select onchange="verkehrChange()" id="selectVerkehr"  class="form-control is-invalid" name="verkehrsmittel">
      {% if data.verkehrsmittel == 'Auto' %}
      <option value="Zug">Zug</option>
      <option selected value="Auto">Auto</option>
      {% else %}
      <option selected value="Zug">Zug</option>
      <option value="Auto">Auto</option>
      {% endif %}
    </select>
    <span class="invalid-feedback"> {{ data.verkehrsmittel_err }}</span>
    {% endif %}
  </div>


  <div class="form-group" id="kostenZug">
    <label for="input requiredFahrtkosten">Fahrtkosten</label>
    {% if data.fahrtkosten_err is empty %}
    <input id="zugInput" type="number" value="{{data.fahrtkosten}}" class="form-control" placeholder="20.00" name="fahrtkosten">
    {% else %}
    <input  id="zugInput"  type="number" value="{{data.fahrtkosten}}" class="form-control form-control-lg is-invalid"  name="fahrtkosten">
    <span class="invalid-feedback"> {{ data.fahrtkosten_err }}</span>
    {% endif %}
  </div>


  <div class="form-group" id="kmAuto" >
    <label for="input requiredKmanzahl">Kilometer Anzahl</label>
    {% if data.kmanzahl_err is empty %}
    <input  id="autoInput"   type="number" value="{{data.kmanzahl}}" class="form-control" placeholder="20" name="kmanzahl">
    {% else %}
    <input id="autoInput"  type="number" value="{{data.kmanzahl}}" class="form-control form-control-lg is-invalid" name="kmanzahl">
    <span class="invalid-feedback"> {{ data.kmanzahl_err }}</span>
    {% endif %}
  </div>

  <input  type="submit" value="Spesenformular abschicken" class="btn btn-success btn-block form-control">
</form>

{% endblock %}