{% extends "base/layout.twig.html" %}

{% block content %}

<div>
  <!-- Fehlermeldung falls ein Fehler beim erstellen geschieht-->
  {{ erstellen_err }}
</div>
<!--Formularfeld Personalnummer 
    Required true
    6 Stellig -->
<form method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="personalnummer">Personalnummer</label>
    {% if data.personalnummer_err is empty %}
    <input required type="text" class="form-control" placeholder="100000" value="{{data.personalnummer}}"
      pattern="\d{6}" name="personalnummer">
    {% else %}
    <input required type="text" pattern="\d{6}" value="{{data.personalnummer}}"
      class="form-control form-control-lg is-invalid" name="personalnummer">
    <span class="invalid-feedback"> {{ data.personalnummer_err }}</span>
    {% endif %}
  </div>

  <!--Formularfeld Datum
    Required true-->
  <div class="form-group">
    <label for="InputDate">Datum</label>
    {% if data.datum_err is empty %}
    <input required type="date" value="{{data.datum}}" class="form-control" placeholder="1900-01-01" name="datum">
    {% else %}
    <input required type="date" value="{{data.datum}}" class="form-control form-control-lg is-invalid" name="datum">
    <span class="invalid-feedback"> {{ data.datum_err }}</span>
    {% endif %}
  </div>

  <!--Formularfeld Reiseziel
    Required true-->
  <div class="form-group">
    <label for="Reiseziel">Reiseziel</label>
    {% if data.reiseziel_err is empty %}
    <input required type="text" class="form-control" value="{{data.reiseziel}}" name="reiseziel"
      placeholder="Jowa Volketswil">
    {% else %}
    <input required type="text" value="{{data.reiseziel}}" name="reiseziel"
      class="form-control form-control-lg is-invalid">
    <span class="invalid-feedback"> {{ data.reiseziel_err }}</span>
    {% endif %}
  </div>


  <!--Formularfeld Essenskosten
    Required false-->
  <div class="form-group">
    <label for="Essenskosten">Essenskosten</label>
    {% if data.essenskosten_err is empty %}
    <input min="0" max="50" type="number" value="{{data.essenskosten}}" class="form-control" placeholder="20.00"
      name="essenskosten">
    {% else %}
    <input min="0" max="50" type="number" value="{{data.essenskosten}}" class="form-control form-control-lg is-invalid"
      name="essenskosten">
    <span class="invalid-feedback"> {{ data.essenskosten_err }}</span>
    {% endif %}
  </div>

  <!--Formularfeld Essenskosten
    Required false-->
  <div class="form-group">
    <label for="Uebernachtung">Uebernachtung</label>
    {% if data.uebernachtung_err is empty %}
    <input type="number" value="{{data.uebernachtung}}" class="form-control" placeholder="30.00" name="uebernachtung">
    {% else %}
    <input type="number" value="{{data.uebernachtung}}" class="form-control form-control-lg is-invalid"
      name="uebernachtung">
    <span class="invalid-feedback"> {{ data.uebernachtung_err }}</span>
    {% endif %}
  </div>


  <!--Dropdown Verkehrsmittel
    Auswahl: Zug/ Auto-->
  <div class="form-group">
    <label for="Verkehrsmittel">Verkehrsmittel</label>
    {% if data.verkehrsmittel_err is empty %}
    <select onchange="verkehrChange()" id="selectVerkehr" class="form-control" name="verkehrsmittel">
      {% if data.verkehrsmittel == 'Auto' %}
      <option value="Zug">Zug</option>
      <option selected value="Auto">Auto</option>
      {% else %}
      <option selected value="Zug">Zug</option>
      <option value="Auto">Auto</option>
      {% endif %}
    </select>
    {% else %}
    <select onchange="verkehrChange()" id="selectVerkehr" class="form-control is-invalid" name="verkehrsmittel">
      {% if data.verkehrsmittel == 'Auto' %}
      <option value="Zug">Zug</option>
      <option selected value="Auto">Auto</option>
      {% else %}
      <option selected value="Zug">Zug</option>
      <option value="Auto">Auto</option>
      {% endif %}
    </select>
    <span class="invalid-feedback"> {{ data.verkehrsmittel_err }}</span>
    {% endif %}
  </div>


  <!--Formularfeld Fahrtkosten
    Required true wenn Zug ausgewählt-->
  <div class="form-group" id="kostenZug">
    <label for="Fahrtkosten">Fahrtkosten</label>
    {% if data.fahrtkosten_err is empty %}
    <input id="zugInput" type="number" value="{{data.fahrtkosten}}" class="form-control" placeholder="20.00"
      name="fahrtkosten">
    {% else %}
    <input id="zugInput" type="number" value="{{data.fahrtkosten}}" class="form-control form-control-lg is-invalid"
      name="fahrtkosten">
    <span class="invalid-feedback"> {{ data.fahrtkosten_err }}</span>
    {% endif %}
  </div>


  <!--Formularfeld KM Auto
    Required true wenn Auto ausgewhält-->
  <div class="form-group" id="kmAuto">
    <label for="Kmanzahl">Kilometer Anzahl</label>
    {% if data.kmanzahl_err is empty %}
    <input id="autoInput" type="number" value="{{data.kmanzahl}}" class="form-control" placeholder="20" name="kmanzahl">
    {% else %}
    <input id="autoInput" type="number" value="{{data.kmanzahl}}" class="form-control form-control-lg is-invalid"
      name="kmanzahl">
    <span class="invalid-feedback"> {{ data.kmanzahl_err }}</span>
    {% endif %}
  </div>


  <!--Formularfeld Quittungen
    Required false-->
  <div class="form-group">
    <label for="File">Quittungen</label>
    {% if data.quittungen_err is empty %}
    <input type="file" class="form-control-file" name="quittungen">
    {% else %}
    <input input type="file" class="form-control form-control-lg is-invalid" name="quittungen">
    <span class="invalid-feedback"> {{ data.quittungen_err }}</span>
    {% endif %}
  </div>


  <!--Submitbutton-->
  <input type="submit" value="Spesenformular abschicken" class="btn btn-success btn-block form-control">
  <!-- <span class="popuptext" id="successPopup">Popup text...</span> -->
</form>


{% endblock %}